@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@theme{
  --font-montserrat: Montserrat, "serif";
  --color-primary:#6d87cb;
  --font-navabarLinks: Mulish, "serif";
  --font-manrope: Manrope, "serif";
  --font-nunito: Nunito Sans, "serif";
  --font-raleway: Raleway, "serif";
  --font-kanit: Kanit, "serif";
  --color-navTextCol: #373f41;
  --text-semiheading: 32px;
}
html,body{
  /* overflow-y: scroll; */
}
/* .montserrat-logo_text {
  font-family: "Montserrat", serif;
 
} */